.RData
.Rproj.user
.Rhistory
.Ruserdata

doc
docs
inst/doc
Meta

vignettes/figure
vignettes/*.html
vignettes/*.pdf
vignettes/*.md
vignettes/rsconnect
vignettes/*.R

/src/*.o
/src/*.o-*
/src/*.d
/src/*.so

*.dll

.httr-oauth
.DS_Store
/doc/
/Meta/

RPlots.pdf
